<a href="https://colab.research.google.com/github/Jatansahu/AMAZON-ML-CHALLENEGE/blob/main/amazon_ml_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.read_csv("/content/drive/MyDrive/PROJECT/AMAZON-ML-CHALLENGE/dataset/train.csv")
df1

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000
...,...,...,...,...,...,...
2249693,2422167,Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...,Material : Polyester,NaN,3009,1181.100000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[‚ù§ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249695,1987786,Kangroo Sweep Movement Printed Wooden Wall Clo...,"[Dial size: 12 inches in diameter,Big, clear r...",Wall Clocks Are Very Attractive In Looks And E...,1574,1200.000000
2249696,1165754,Electro Voice EKX-BRKT15 | Wall Mount Bracket ...,NaN,NaN,592,2900.000000
2249697,1072666,Skyjacker C7360SP Component Box For PN[C7360PK...,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",Skyjacker C7360SP Component Box For PN[C7360PK...,7367,2000.000000

In [5]:
test_df = pd.read_csv("/content/drive/MyDrive/PROJECT/AMAZON-ML-CHALLENGE/dataset/test.csv")
test_df

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
0,604373,Manuel d'H√©liogravure Et de Photogravure En Re...,NaN,NaN,6142
1,1729783,DCGARING Microfiber Throw Blanket Warm Fuzzy P...,[QUALITY GUARANTEED: Luxury cozy plush polyest...,<b>DCGARING Throw Blanket</b><br><br> <b>Size ...,1622
2,1871949,I-Match Auto Parts Front License Plate Bracket...,"[Front License Plate Bracket Made Of Plastic,D...",Replacement for The Following Vehicles:2020 LE...,7540
3,1107571,PinMart Gold Plated Excellence in Service 1 Ye...,[Available as a single item or bulk packed. Se...,Our Excellence in Service Lapel Pins feature a...,12442
4,624253,"Visual Mathematics, Illustrated by the TI-92 a...",NaN,NaN,6318
...,...,...,...,...,...
734731,921419,"Casual Canine Basic Hoodie for Dogs, 16"" Mediu...",[Brightly colored pet sweatshirts with authent...,"ZA6015 16 43 Size-See Chart Below: Medium: 16""...",7073
734732,2456362,Dive Log Book: Scuba Diving Logbook for Beginn...,NaN,NaN,1
734733,841529,Axor 39135001 Citterio Widespread Faucet with ...,"[8-Inch centers,1/2-Inch IPS inlets,9-Inch spo...",39135001 Features: -ADA compliant. -Includes p...,10645
734734,1190194,Caroline's Treasures BB1801DS812 Halloween Bas...,"[Indoor or outdoor aluminum artwork prints,8 i...",Features. Great for inside or outside these Al...,12680
734735,1040810,Amsahr 18C1623 Lexmark X3530 Remanufactured Re...,[Engineered and Manufactured Under European St...,Our Remanufactured Replacement Lexmark Ink Car...,0

#DATA PREPROCESSING

In [6]:
df = df1

In [7]:
df.isna().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [8]:
test_df.isna().sum()

PRODUCT_ID              0
TITLE                   5
BULLET_POINTS      275922
DESCRIPTION        380001
PRODUCT_TYPE_ID         0
dtype: int64

In [9]:
# droping null values for title
df = df.dropna(subset=['TITLE'])
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
df['BULLET_POINTS'] = df['BULLET_POINTS'].fillna('None')

#dropping description columns
df = df.drop(['DESCRIPTION'], axis=1)

<ipython-input-9-399cb880f071>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BULLET_POINTS'] = df['BULLET_POINTS'].fillna('None')

In [10]:
#for testing
# droping null values for title
test_df = test_df.dropna(subset=['TITLE'])
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
test_df['BULLET_POINTS'] = test_df['BULLET_POINTS'].fillna('None')

#dropping description columns
test_df = test_df.drop(['DESCRIPTION'], axis=1)

<ipython-input-10-85ad79cc2489>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['BULLET_POINTS'] = test_df['BULLET_POINTS'].fillna('None')

In [11]:
df.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [12]:
#for testing
test_df.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
dtype: int64

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
train_df = df

In [15]:
# Define the text-based features
text_features = ['TITLE', 'BULLET_POINTS']

# Convert the text-based features into numerical vectors using TF-IDF
vectorizer = TfidfVectorizer(stop_words='english')
X_train = vectorizer.fit_transform(train_df[text_features].apply(lambda x: ' '.join(x), axis=1))
X_val = vectorizer.transform(test_df[text_features].apply(lambda x: ' '.join(x), axis=1))

In [ ]:
X_train = pd.DataFrame(X_train.todense())
X_val  = pd.DataFrame(X_val.todense())

In [18]:
# Add the product type ID as a feature
X_train = pd.concat([X_train, train_df['PRODUCT_TYPE_ID']], axis=1)
X_val = pd.concat([X_val, test_df['PRODUCT_TYPE_ID']], axis=1)

TypeError: ignored

In [ ]:
# Define the target variable
y_train = train_df['PRODUCT_LENGTH']

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the validation set
y_pred = model.predict(X_val)

In [ ]:
result = pd.concat([X_val, y_pred], axis=1)
result = result.drop(['TITLE','BULLET_POINTS','PRODUCT_TYPE_ID'], axis=1)

In [ ]:
result.to_csv('preprocessed_data.csv', index=False)

In [ ]:
# from sklearn import metrics


# score = max(0, 100*(1-metrics.mean_absolute_percentage_error(y_val, y_pred)))

# print(score)

In [ ]:
# # import nltk
# # from nltk.tokenize import word_tokenize

# # Tokenize the title and description columns
# df['title_tokens'] = df['TITLE'].apply(word_tokenize)
# # df['description_tokens'] = df['DESCRIPTION'].apply(word_tokenize)

# # Extract the number of words and characters in each text column
# df['title_word_count'] = df['title_tokens'].apply(len)
# df['title_char_count'] = df['TITLE'].apply(len)
# # df['description_word_count'] = df['description_tokens'].apply(len)
# # df['description_char_count'] = df['DESCRIPTION'].apply(len)

# # Extract the number of bullet points
# df['bullet_point_count'] = df['BULLET_POINTS'].str.count('\n') + 1

# # Convert product type ID to categorical variable
# df['PRODUCT_TYPE_ID'] = df['PRODUCT_TYPE_ID'].astype('category')

# # # Extract the length of the product     #?????????????????????????????????????????????? ye cm mai convert kru?
# # df['PRODUCT_LENGTH_cm'] = df['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# # Drop the original text columns and any other unnecessary columns
# # df = df.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
# df = df.drop(columns=['TITLE', 'BULLET_POINTS'])

# # Save the preprocessed data
# df.to_csv('preprocessed_data.csv', index=False)