<a href="https://colab.research.google.com/github/Jatansahu/AMAZON-ML-CHALLENEGE/blob/main/amazon_ml_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_csv(r"D:\DAIICT\SEMESTER_2\ML_CHALLENGE\dataset\train.csv")
df1.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [ ]:
df1.shape

(2249698, 6)

In [ ]:
df1.query('PRODUCT_TYPE_ID == 6142')

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
971,1826,2023 Guide to the Night Sky: A month-by-month ...,NaN,NaN,6142,582.676
5430,748555,"La Costa Brava: L'emporda, Gerone Et La Route ...",NaN,NaN,6142,600.000
7138,504322,2020-2021 Two Year Planner: Monthly Pocket Pla...,NaN,NaN,6142,600.000
8350,78914,Photographs,NaN,NaN,6142,936.000
8600,562881,Nikon F4-F3 (Magic Lantern Guides),NaN,NaN,6142,525.000
...,...,...,...,...,...,...
2242427,368194,Underwater Dogs 2018 Mini Wall Calendar,NaN,NaN,6142,700.000
2247725,717361,How to Be a Tastemaker,NaN,NaN,6142,1075.000
2248495,707846,2012 Provence Grid Calendar,NaN,NaN,6142,1150.000
2249166,293919,Entre Valais et Oberland bernois 2016: Paysage...,NaN,NaN,6142,1653.540
2249372,36621,Anthony Friedkin – The Gay Essay (Fine Arts Mu...,NaN,NaN,6142,1204.000

In [ ]:
test_df = pd.read_csv(r"D:\DAIICT\SEMESTER_2\ML_CHALLENGE\dataset\test.csv")
test_df.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
0,604373,Manuel d'Héliogravure Et de Photogravure En Re...,NaN,NaN,6142
1,1729783,DCGARING Microfiber Throw Blanket Warm Fuzzy P...,[QUALITY GUARANTEED: Luxury cozy plush polyest...,<b>DCGARING Throw Blanket</b><br><br> <b>Size ...,1622
2,1871949,I-Match Auto Parts Front License Plate Bracket...,"[Front License Plate Bracket Made Of Plastic,D...",Replacement for The Following Vehicles:2020 LE...,7540
3,1107571,PinMart Gold Plated Excellence in Service 1 Ye...,[Available as a single item or bulk packed. Se...,Our Excellence in Service Lapel Pins feature a...,12442
4,624253,"Visual Mathematics, Illustrated by the TI-92 a...",NaN,NaN,6318

In [ ]:
test_df.shape

(734736, 5)

#DATA PREPROCESSING

In [ ]:
df = df1.copy()

In [ ]:
df.isna().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [ ]:
test_df.isna().sum()

PRODUCT_ID              0
TITLE                   5
BULLET_POINTS      275922
DESCRIPTION        380001
PRODUCT_TYPE_ID         0
dtype: int64

In [ ]:
# droping null values for title
df = df.dropna(subset=['TITLE'])
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
df['BULLET_POINTS'] = df['BULLET_POINTS'].fillna('None')

#dropping description columns
df = df.drop(['DESCRIPTION'], axis=1)

In [ ]:
#for testing
# droping null values for title
# test_df = test_df.dropna(subset=['TITLE'])
test_df['TITLE'] = test_df['TITLE'].fillna('None')
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
test_df['BULLET_POINTS'] = test_df['BULLET_POINTS'].fillna('None')

#dropping description columns
test_df = test_df.drop(['DESCRIPTION'], axis=1)

In [ ]:
test_df.shape

(734736, 4)

In [ ]:
df.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [ ]:
#for testing
test_df.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
dtype: int64

In [ ]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\dhruv\appdata\roaming\python\python310\site-packages (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dhruv\appdata\roaming\python\python310\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in c:\users\dhruv\appdata\roaming\python\python310\site-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in c:\users\dhruv\appdata\roaming\python\python310\site-packages (from nltk) (1.2.0)
Requirement already satisfied: click in c:\users\dhruv\appdata\roaming\python\python310\site-packages (from nltk) (8.1.3)
Requirement already satisfied: colorama in c:\users\dhruv\appdata\roaming\python\python310\site-packages (from click->nltk) (0.4.4)

WARNING: There was an error checking the latest version of pip.

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

In [ ]:
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     self signed certificate in certificate chain
[nltk_data]     (_ssl.c:997)>

False

In [ ]:
# import nltk
# from nltk.tokenize import word_tokenize

# Tokenize the title and description columns
df['title_tokens'] = df['TITLE'].apply(word_tokenize)
# df['bullet_tokens'] = df['BULLET_POINTS'].apply(word_tokenize)

# Extract the number of words and characters in each text column
df['title_word_count'] = df['title_tokens'].apply(len)
df['title_char_count'] = df['TITLE'].apply(len)
# df['bullet_word_count'] = df['bullet_tokens'].apply(len)
# df['bullet_char_count'] = df['BULLET_POINTS'].apply(len)

# Extract the number of bullet points
# df['bullet_point_count'] = df['BULLET_POINTS'].str.count('\n') + 1

# Convert product type ID to categorical variable
df['PRODUCT_TYPE_ID'] = df['PRODUCT_TYPE_ID'].astype('category')

# # Extract the length of the product    
# df['PRODUCT_LENGTH_cm'] = df['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# Drop the original text columns and any other unnecessary columns
# df = df.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
df = df.drop(columns=['TITLE'])

# Save the preprocessed data
# df.to_csv('preprocessed_data.csv', index=False)

In [ ]:
# # import nltk
# # from nltk.tokenize import word_tokenize

# # Tokenize the title and description columns
# # df['title_tokens'] = df['TITLE'].apply(word_tokenize)
# df['bullet_tokens'] = df['BULLET_POINTS'].apply(word_tokenize)

# # Extract the number of words and characters in each text column
# # df['title_word_count'] = df['title_tokens'].apply(len)
# # df['title_char_count'] = df['TITLE'].apply(len)
# df['bullet_word_count'] = df['bullet_tokens'].apply(len)
# df['bullet_char_count'] = df['BULLET_POINTS'].apply(len)

# # Extract the number of bullet points
# # df['bullet_point_count'] = df['BULLET_POINTS'].str.count('\n') + 1

# # Convert product type ID to categorical variable
# df['PRODUCT_TYPE_ID'] = df['PRODUCT_TYPE_ID'].astype('category')

# # # Extract the length of the product     
# # df['PRODUCT_LENGTH_cm'] = df['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# # Drop the original text columns and any other unnecessary columns
# # df = df.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
# df = df.drop(columns=['BULLET_POINTS'])

# # Save the preprocessed data
# # df.to_csv('preprocessed_data.csv', index=False)

In [ ]:
df

,PRODUCT_ID,BULLET_POINTS,PRODUCT_TYPE_ID,PRODUCT_LENGTH,title_tokens,title_word_count,title_char_count
0,1925202,[LUXURIOUS & APPEALING: Beautiful custom-made ...,1650,2125.980000,"[ArtzFolio, Tulip, Flowers, Blackout, Curtain,...",37,164
1,2673191,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",2755,393.700000,"[Marks, &, Spencer, Girls, ', Pyjama, Sets, T8...",9,59
2,2765088,"[Loud Dual Tone Trumpet Horn, Compatible With ...",7537,748.031495,"[PRIKNIK, Horn, Red, Electric, Air, Horn, Comp...",15,97
3,1594019,[Made By 95%cotton and 5% Lycra which gives yo...,2996,787.401574,"[ALISHAH, Women, 's, Cotton, Ankle, Length, Le...",14,73
4,283658,None,6112,598.424000,"[The, United, Empire, Loyalists, :, A, Chronic...",11,63
...,...,...,...,...,...,...,...
2249693,2422167,Material : Polyester,3009,1181.100000,"[Nike, Women, 's, As, W, Ny, Df, Swsh, Hn, Kh,...",16,73
2249694,2766635,[❤ [Inspiration] Inspired by the Untitled Goos...,3413,125.984252,"[(, 3PCS, ), Goose, Game, Cute, Cartoon, Ename...",22,118
2249695,1987786,"[Dial size: 12 inches in diameter,Big, clear r...",1574,1200.000000,"[Kangroo, Sweep, Movement, Printed, Wooden, Wa...",15,72
2249696,1165754,None,592,2900.000000,"[Electro, Voice, EKX-BRKT15, |, Wall, Mount, B...",11,70
2249697,1072666,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",7367,2000.000000,"[Skyjacker, C7360SP, Component, Box, For, PN, ...",25,117

In [ ]:
# X_train = df[['PRODUCT_TYPE_ID','title_word_count','title_char_count','bullet_word_count','bullet_char_count']]
X_train = df[['PRODUCT_TYPE_ID','title_word_count','title_char_count']]
X_train

        PRODUCT_TYPE_ID  title_word_count  title_char_count
0                  1650                37               164
1                  2755                 9                59
2                  7537                15                97
3                  2996                14                73
4                  6112                11                63
...                 ...               ...               ...
2249693            3009                16                73
2249694            3413                22               118
2249695            1574                15                72
2249696             592                11                70
2249697            7367                25               117

[2249686 rows x 3 columns]

#FOR TESTING

In [ ]:
# import nltk
# from nltk.tokenize import word_tokenize

# Tokenize the title and description columns
test_df['title_tokens'] = test_df['TITLE'].apply(word_tokenize)
# test_df['bullet_tokens'] = test_df['BULLET_POINTS'].apply(word_tokenize)

# Extract the number of words and characters in each text column
test_df['title_word_count'] = test_df['title_tokens'].apply(len)
test_df['title_char_count'] = test_df['TITLE'].apply(len)
# test_df['bullet_word_count'] = test_df['bullet_tokens'].apply(len)
# test_df['bullet_char_count'] = test_df['BULLET_POINTS'].apply(len)

# Extract the number of bullet points
# test_df['bullet_point_count'] = test_df['BULLET_POINTS'].str.count('\n') + 1

# Convert product type ID to categorical variable
test_df['PRODUCT_TYPE_ID'] = test_df['PRODUCT_TYPE_ID'].astype('category')

# # Extract the length of the product     
# test_df['PRODUCT_LENGTH_cm'] = test_df['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# Drop the original text columns and any other unnecessary columns
# test_df = test_df.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
test_df = test_df.drop(columns=['TITLE'])

# Save the preprocessed data
# test_df.to_csv('preprocessed_data.csv', index=False)

In [ ]:
# # import nltk
# # from nltk.tokenize import word_tokenize

# # Tokenize the title and description columns
# # df['title_tokens'] = df['TITLE'].apply(word_tokenize)
# test_df['bullet_tokens'] = test_df['BULLET_POINTS'].apply(word_tokenize)

# # Extract the number of words and characters in each text column
# # test_df['title_word_count'] = test_df['title_tokens'].apply(len)
# # test_df['title_char_count'] = test_df['TITLE'].apply(len)
# test_df['bullet_word_count'] = test_df['bullet_tokens'].apply(len)
# test_df['bullet_char_count'] = test_df['BULLET_POINTS'].apply(len)

# # Extract the number of bullet points
# # test_df['bullet_point_count'] = test_df['BULLET_POINTS'].str.count('\n') + 1

# # Convert product type ID to categorical variable
# test_df['PRODUCT_TYPE_ID'] = test_df['PRODUCT_TYPE_ID'].astype('category')

# # # Extract the length of the product     #
# # test_df['PRODUCT_LENGTH_cm'] = test_df['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# # Drop the original text columns and any other unnecessary columns
# # test_df = test_df.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
# test_df = test_df.drop(columns=['BULLET_POINTS'])

# # Save the preprocessed data
# # test_df.to_csv('preprocessed_data.csv', index=False)

In [ ]:
# X_test= df[['PRODUCT_TYPE_ID','title_word_count','title_char_count','bullet_word_count','bullet_char_count']]
X_test= test_df[['PRODUCT_TYPE_ID','title_word_count','title_char_count']]

X_test

       PRODUCT_TYPE_ID  title_word_count  title_char_count
0                 6142                15                84
1                 1622                28               184
2                 7540                19               143
3                12442                11                64
4                 6318                10                58
...                ...               ...               ...
734731            7073                12                54
734732               1                12                71
734733           10645                10                67
734734           12680                15               113
734735               0                14               108

[734736 rows x 3 columns]

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# Define the target variable
y_train = df['PRODUCT_LENGTH']

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the validation set
y_pred = model.predict(X_test)

In [ ]:
y_pred.shape

(734736,)

In [ ]:
test_df.shape

(734736, 6)

In [ ]:
X_test.shape

(734736, 3)

In [ ]:
result = test_df.copy()
# result

,PRODUCT_ID,BULLET_POINTS,PRODUCT_TYPE_ID,title_tokens,title_word_count,title_char_count
0,604373,None,6142,"[Manuel, d'Héliogravure, Et, de, Photogravure,...",15,84
1,1729783,[QUALITY GUARANTEED: Luxury cozy plush polyest...,1622,"[DCGARING, Microfiber, Throw, Blanket, Warm, F...",28,184
2,1871949,"[Front License Plate Bracket Made Of Plastic,D...",7540,"[I-Match, Auto, Parts, Front, License, Plate, ...",19,143
3,1107571,[Available as a single item or bulk packed. Se...,12442,"[PinMart, Gold, Plated, Excellence, in, Servic...",11,64
4,624253,None,6318,"[Visual, Mathematics, ,, Illustrated, by, the,...",10,58
...,...,...,...,...,...,...
734731,921419,[Brightly colored pet sweatshirts with authent...,7073,"[Casual, Canine, Basic, Hoodie, for, Dogs, ,, ...",12,54
734732,2456362,None,1,"[Dive, Log, Book, :, Scuba, Diving, Logbook, f...",12,71
734733,841529,"[8-Inch centers,1/2-Inch IPS inlets,9-Inch spo...",10645,"[Axor, 39135001, Citterio, Widespread, Faucet,...",10,67
734734,1190194,"[Indoor or outdoor aluminum artwork prints,8 i...",12680,"[Caroline, 's, Treasures, BB1801DS812, Hallowe...",15,113
734735,1040810,[Engineered and Manufactured Under European St...,0,"[Amsahr, 18C1623, Lexmark, X3530, Remanufactur...",14,108

In [ ]:
result['PRODUCT_LENGTH'] = y_pred

In [ ]:
result = result.drop(['title_tokens','BULLET_POINTS','PRODUCT_TYPE_ID','title_word_count','title_char_count'], axis=1)
result

        PRODUCT_ID  PRODUCT_LENGTH
0           604373     4759.447187
1          1729783     1227.832226
2          1871949     2952.854949
3          1107571     6900.980257
4           624253     4834.142430
...            ...             ...
734731      921419     5948.689680
734732     2456362     2489.438514
734733      841529     5793.267920
734734     1190194     5289.887567
734735     1040810      896.700835

[734736 rows x 2 columns]

In [ ]:
answer = result[['PRODUCT_ID','PRODUCT_LENGTH']].copy()
answer.to_csv('AMAZON_PREDICTED__DATA.csv')